.body{
	overflow-x:hidden;
	padding: 0;
	margin: 0;
}

/* Header */
#blue-line{
	color: #33408E;
	border-color: #33408E;
	border-width: 10px;
}

#header-logo{
	height: 60px;
}

#header-brand{
	font-weight: bold;
	color: #33408E;
}

#header-links a{
	color: grey;
}

/* Navbar */
.navbar{
	background-color: #33408E;
    border: none;
    top: -1px;
}

.navbar-toggler{
	color: white;
}

.nav-item .nav-link.active{
	font-weight: bold;
}

.navbar-login a {
	color: white;
}

@media (min-width:1000px) {
	.lr{
		border-right: 1px solid white;
	}
}

@media (max-width:768px) {
	.navbar-collapse{
		padding-top: 20px;
	}
	.nav-item{
		padding-left: 0;
		margin-bottom: 15px;
	}
}
