body {
	font-family: 'Segoe UI';
	background-color: #fff;
	overflow-x: hidden;
}

.custom-link {
	margin-bottom: 0;
	margin-top: 0;
	font-size: 1.25rem;
	padding: 0.75rem!important;
}

.custom-link:not(.active):hover {
	background-color: #012C5F;
	color: #fff !important;
}

.custom-link.active {
	background-color: #35408F;
	color: #fff !important;
}

.circular-border {
	border-radius: 25px !important;
}

.circle-border {
	border-radius: 50%!important;
}

.footer a, .footer {
	color: #a3a3a3;
}

.display-block {
	display: block;
}

.hr-thick {
	border-width: 2.5px!important;
	border-top-width: 2.5px!important;
}

.hr-thick-50 {
	border-width: 1.25px!important;
	border-top-width: 1.25px!important;
}

.darken-backdrop {
	-webkit-backdrop-filter: brightness(0.5);
	-moz-backdrop-filter: brightness(0.5);
	-o-backdrop-filter: brightness(0.5);
	backdrop-filter: brightness(0.5);
}

.blur-backdrop {
	-webkit-backdrop-filter: blur(5px);
	-moz-backdrop-filter: blur(5px);
	-o-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.announcement-img {
	width: 100%!important;
	height: 25vh!important;
	overflow-y: hidden!important;
	background-size: cover!important;
}

.announcement-img~ .card-title {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.text-truncate-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.announcement-img~ .card-text, .text-truncate-3 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.text-truncate-4 {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.text-truncate-5 {
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.text-truncate-6 {
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.pr-6, .px-6, .p-6 {
	padding-right: 6rem!important;
}

.pl-6, .px-6, .p-6 {
	padding-left: 6rem!important;
}

.pr-7, .px-7, .p-7 {
	padding-right: 9rem!important;
}

.pl-7, .px-7, .p-7 {
	padding-left: 9rem!important;
}

.mr-6, .mx-6, .m-6 {
	margin-right: 6rem!important;
}

.ml-6, .mx-6, .m-6 {
	margin-left: 6rem!important;
}

.mt-6, .my-6, .m-6 {
	margin-top: 6rem!important;
}

.mb-6, .my-6, .m-6 {
	margin-bottom: 6rem!important;
}

.mr-7, .mx-7, .m-7 {
	margin-right: 9rem!important;
}

.ml-7, .mx-7, .m-7 {
	margin-left: 9rem!important;
}

.mt-7, .my-7, .m-7 {
	margin-top: 9rem!important;
}

.mb-7, .my-7, .m-7 {
	margin-bottom: 9rem!important;
}

.dark-shadow {
	box-shadow: 0px 3px 10px #00000080;
}

.share-dropdown, .share-dropdown:hover, .read-more, .read-more:hover, .text-custom {
	color: #35408F;
}

.text-custom-2 {
	color: #1752AA;
}

.text-dark-below * {
	color: #343a40!important;
}

.border-gray {
	border-color: #707070!important;
}

.border-custom {
	border-color: #35408F!important;
}

.border-thick {
	border-width: 2.5px!important;
}

.view-more, .view-more:hover {
	color: #35408F;
	border-bottom-style: solid;
	border-bottom-color: #35408F;
}

.dynamic-size-h6 {
	font-size: 1.25vw;
}

.dynamic-size-h3 {
	font-size: 2.625vw;
}

.dynamic-size-h1 {
	font-size: 3vw;
}

.display-inline-block {
	display: inline-block;
}

.striped > .row:nth-child(odd) {
	background-color: #FFF;
}

.striped > .row:nth-child(even) {
	background-color: #F6F6F6;
}

.faculty-img {
	min-width: 100%;
	max-width: 100%;
}

.banner-text-adjust {
	position: relative;
	top: 12.5%!important;
}

.invisiborder.rounded {
	border-radius: 5px!important;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-x-scroll {
	overflow-x: scroll;
}

.overflow-x-auto {
	overflow-x: auto;
}

.overflow-y-scroll {
	overflow-y: scroll;
}

.overflow-y-auto {
	overflow-y: auto;
}

.custom-font {
	font-family: "Segoe UI"!important;
}

.custom-fa-2x {
	min-width: 32px!important;
	min-height: 32px!important;
}

.badge-inverted-secondary {
	color: #7D7D7D;
	background-color: #F1F1F1;
}

.bg-custom {
	background-color: #35408F;
}

.bg-custom-2 {
	background-color: #1752AA;
}

.bg-custom-light {
	background-color: #F6F6F6;
}

.custom-hover:hover {
	background-color: #c3c3c3!important;
}

.readmore-link-custom-bg {
	background-image: linear-gradient(to bottom, transparent, #F6F6F6)!important;
}

.hidden {
	display: none!important;
}

.avatar {
	min-width: 15rem!important;
	max-width: 15rem!important;
	min-height: 15rem!important;
	max-height: 15rem!important;
	cursor: pointer!important;
}

.cursor-pointer {
	cursor: pointer;
}

textarea.not-resizable {
	resize: none;
}

/* BREAKPOINT RELATED CSS */

@media (min-width: 388px) {
	.banner-text-adjust {
		position: relative;
		top: 25%!important;
	}
}

@media (min-width: 1368px) {
	.banner-text-adjust {
		position: relative;
		top: 37.5%!important;
	}
}

@media (max-width: 575px) {
	.pb-faculty {
		padding-bottom: 90vw;
	}
}

/* MD breakpoint*/
@media (min-width: 768px) {
	.mt-md-4, .my-md-4 {
		margin-top: 1.5rem!important;
	}

	.mb-md-4, .my-md-4 {
		margin-bottom: 1.5rem!important;
	}

	.text-md-left {
		text-align: left!important;
	}

	.text-md-center {
		text-align: center!important;
	}

	.text-md-right {
		text-align: right!important;
	}

	.text-md-justify {
		text-align: justify!important;
	}

	.h1-md {
		font-size: 2.5rem;
	}

	.h2-md {
		font-size: 2rem;
	}

	.h3-md {
		font-size: 1.75rem;
	}
}

@media (max-width: 767px and min-width: 576px) {
	.pb-faculty {
		padding-bottom: 37.5vw;
	}
}

/* LG breakpoint */
@media (min-width: 992px) {
	.text-lg-left {
		text-align: left!important;
	}

	.text-lg-center {
		text-align: center!important;
	}

	.text-lg-right {
		text-align: right!important;
	}

	.text-lg-justify {
		text-align: justify!important;
	}

	.h1-lg {
		font-size: 2.5rem;
	}

	.h2-lg {
		font-size: 2rem;
	}

	.h3-lg {
		font-size: 1.75rem;
	}

	.dynamic-size-lg-h6 {
		font-size: 1.25vw!important;
	}
}

/* END BREAKPOINT RELATED CSS */